@font-face {
  font-family: "Roboto";
  src: url("//db.onlinewebfonts.com/t/a638be55afb1ed29ceb7ea7e288c2139.eot");
  src: url("//db.onlinewebfonts.com/t/a638be55afb1ed29ceb7ea7e288c2139.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/a638be55afb1ed29ceb7ea7e288c2139.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/a638be55afb1ed29ceb7ea7e288c2139.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/a638be55afb1ed29ceb7ea7e288c2139.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/a638be55afb1ed29ceb7ea7e288c2139.svg#GT Flexa")
      format("svg");
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}
.sponsors-flex {
  display: flex;
  flex-direction: column;
}

.sponsor-title {
  font-size: 4rem;
  letter-spacing: 7px;
  color: azure;
  font-family: "Roboto", Helvetica, sans-serif;
}

@media screen and (max-width: 450px) {
  .sponsor-title {
    font-size: 7rem;
  }
}

/* Platinum-Sponsors */

.platinum-sponsors-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.platinum-sponsors-grid > div {
  /* background-color: hotpink; */
  display: flex;
}

.p-sponsor img {
  width: 60vh;
  margin: auto;
}

@media screen and (max-width: 450px) {
  .p-sponsor img {
    width: 40vh;
  }
}
@media screen and (max-width: 425px) {
  .p-sponsor img {
    width: 35vh;
  }
}
/* End */

/* Title Sponsors */

.title-sponsors-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

@media screen and (max-width: 450px) {
  .title-sponsors-grid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

.title-sponsors-grid > div {
  /* background-color: blueviolet; */
  display: flex;
}

.t-sponsor img {
  width: 40vh;
  margin: auto;
}

@media screen and (max-width: 450px) {
  .t-sponsor img {
    width: 30vh;
  }
}
/* End */

/* Associate Sponsors */

.associate-sponsors-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

@media screen and (max-width: 450px) {
  .associate-sponsors-grid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

.associate-sponsors img {
  width: 25vh;
  margin: auto;
}

.associate-sponsors-grid > div {
  /* background-color: aqua; */
  display: flex;
}

/* End */

/* M&O Sponsors */

.mno-sponsors-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

@media screen and (max-width: 450px) {
  .mno-sponsors-grid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

.mno-sponsor img {
  width: 20vh;
  margin: auto;
}

.mno-sponsors-grid > div {
  /* background-color: beige; */
  display: flex;
}
/* End */
