.carousel{
    height: 80vh
}
.carousel-item{
    color:white;
}
.carousel img{
    max-width:56vw;
    margin: auto;
}
@media screen and (max-width:525px) {
    .carousel img{
        max-width: 100vw;
    }
}