/* .events-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
    align-items: center;
}
.event{
    display:flex;
    flex-direction: column;
    background-color: rgba(192, 192, 192, 0.3);
    border-radius: 1rem;
}
.event-img{
    padding: 1rem;
    max-width: 400px;
}
.event-desc{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    background-color: black;
    border-radius: 1rem;

}
.e-head{
    font-family: "Roboto", sans-serif;
    font-size: 1.75rem;
    letter-spacing: 0px;
    margin:0.5rem;
    font-weight: bolder;
    padding-top:1rem;
}
@media screen and (max-width:525px) {
    .events-grid{
        grid-template-columns: repeat(1,1fr);
    }
    .event-img{
        width:80vw;
    }
}

.des{
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    line-height: 1.5rem;
    text-align: justify;
    padding: 1rem;
}
.dandv{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
}
.date{
    flex-basis: 50%;
    padding: 1rem;
}
 */
 .conti {
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
  }
  @media screen and (max-width:525px){
    .conti{
        grid-template-columns: 1fr;
    }
  }
  ul{
    padding-left: 1rem;
  }
  .conti:before, .conti:after {
    /* content: " "; */
    display: table;
  }
  
  .carde {
    overflow: hidden;
    width: 80vw;
    height: 80vw;
    border-radius: 1rem;
    display: inline-block;
    position: relative;
    margin-bottom: 2rem;
    background-color:rgba(192, 192, 192, 0.3);
    transition: 0.5s
  }
  @media (min-width: 768px) and (max-width: 1149px) {
    .carde {
      width: calc((100vw - 365px) / 2);
      height: calc((100vw - 365px) / 2);
      margin: 10px 20px 10px 0;
    }
    .carde:nth-child(2n+2) {
      margin-right: 0;
    }
  }
  @media (min-width: 1150px) {
    .carde {
      max-width: 500px;
      height: 300px;
      margin: 10px 20px 10px 0;
    }
  }
  .carde:hover {
    height:530px;
    box-shadow: 1px 1px 8px 2px rgba(0, 0, 0, 0.1);
  }
  
  .img--container {
    display: flex;
    position: absolute;
    width: 100%;
    top: 0;
    overflow: hidden;
    background-color: #1D1D1D;
  }
  .img--container img {
    padding: 1rem;
  }
  
  .card--text {
    bottom: 5rem;
    width: 100%;
    height: 27%;
    position: absolute;
    transition: all 450ms cubic-bezier(0.6, 0.06, 0.34, 0.61);
    transition: all 0.3s cubic-bezier(0.17, 0.71, 0.32, 0.96);
  }
  .carde:hover .card--text {
    height: 80%;
    top:-1rem;
  }
  .text--header {
    position: absolute;
    top: 25%;
    left:20px;
    /* transition: top 450ms cubic-bezier(0.6, 0.06, 0.34, 0.61); */
    transition:0.5s
  }
  @media screen and (min-width:1024px) {
    .text--header{
        top:75%;
    }
  }
  .carde:hover .text--header {
    top: 50%;
  }
  .text--title {
    font-size: 1.15em;
    margin-bottom: 0.5em;
    font-weight: bold;
    letter-spacing: 2px;
    position: relative;
    left: 20px;
    right: 20px;
    top: 15%;
  }
  .text--subtitle {
    position: relative;
    left: 20px;
    right: 20px;
    top: 46%;
  }
  .text--details {
    position: absolute;
    left: 40px;
    right: 40px;
    top: 89%;
    transition: top 450ms cubic-bezier(0.6, 0.06, 0.34, 0.61), opacity 500ms 100ms cubic-bezier(0.6, 0.06, 0.34, 0.61);
    transition: all 550ms cubic-bezier(0.17, 0.71, 0.32, 0.96);
    opacity: 0;
    padding-bottom: 20px;
  }
  .carde:hover .text--details {
    top: 60%;
    opacity: 1;
  }
  .text--details:before {
    content: "";
    display: block;
    width: 30%;
    height: 1px;
    background-color: #ddd;
    margin: 16px 0;
  }
  .text--description {
    line-height: 1.4em;
  }
  .text--link {
    text-decoration: none;
    margin-top: 1em;
    display: inline-block;
    color: #a52a2a;
  }
  .text--link:hover {
    color: #d65f8d;
  }