@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

.sponsors-cards {
  display: grid;
  width: 80%;
  position: relative;
  margin: 0 auto;
  grid-template-rows: repeat(1fr auto);
  grid-template-columns: 1fr;
  row-gap: 2rem;
}

.sponsors-head {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-weight: bolder;
  font-family: "Roboto", sans-serif;
  padding: 4rem 0rem;
}

.sponsor-single {
  /* border-style: solid;
  border-radius: 10px; */
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sponsors-grid {
  display: grid;
  grid-gap: 2rem;
  justify-items: center;
  align-items: center;
  justify-content: center;
}

.grid-platinum {
  grid-template-columns: 1fr;
}
.grid-title {
  grid-template-columns: 1fr 1fr 1fr;
}
.grid-associate {
  grid-template-columns: 1fr 1fr 1fr;
}
.grid-media {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.grid-team {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.sponsor-image {
  transition: 0.5s;
}
.sponsor-image:hover {
  transform: scale(1.12);
}
@media screen and (max-width: 450px) {
  .sponsors-cards {
    width: 90%;
  }
  .sponsors-head {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
  }
  .grid-platinum {
    grid-template-columns: 1fr;
  }
  .grid-title {
    grid-template-columns: 1fr;
  }
  .grid-associate {
    grid-template-columns: 1fr;
  }
  .grid-media {
    grid-template-columns: 1fr;
  }
  .grid-team {
    grid-template-columns: 1fr;
  }
  .sponsor-single {
    display: flex;
  }
  .sponsor-image {
    width: 100%;
  }
}
