{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Our Team</title>
    <link rel="icon" type="image/x-icon" href="{%static 'img/istelogo.png'%}">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.8.4/swiper-bundle.min.js"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <!-- Font Awesome -->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">


    <link href="{%static 'css/oc-ec-styles.css' %}" rel="stylesheet">
  </head>
  <body style="background-color:black">
    <div class="scrolltotop"><img src="{%static 'img/up-arrow.svg'%}" /></div>
    <script type="text/javascript" src="{%static 'js/scrollToTop.js'%}"></script>
    <nav class="navbar navbar-expand-lg mr-auto">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"><img class="dedbro"
            src="{%static 'img/white-nav-toggler.png' %}" alt="logo img"></span>
        </button>
        <a class="navbar-img" href="#">
          <img src="{%static 'img/istelogo_final_copy.png' %}" alt="iste logo">
        </a>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <div class="nav-link-flex">
              <a class="nav-link" href="/">Home</a>
              <span class="ball-animation"></span>
            </div>
            {% comment %} <div class="nav-link-flex">
              <a class="nav-link" href="#mu-sponsors">Sponsors</a>
              <span class="ball-animation"></span>
            </div> {% endcomment %}
            <div class="nav-link-flex">
              <a class="nav-link" href="/events">Events</a>
              <span class="ball-animation"></span>
            </div>
            {% comment %} <div class="nav-link-flex">
              <a class="nav-link" href="#mu-faq">FAQ</a>
              <span class="ball-animation"></span>
            </div> {% endcomment %}
            <div class="nav-link-flex">
              <a class="nav-link" href="/our-team">Our Team</a>
              <span class="ball-animation"></span>
            </div>
            {% comment %} <div class="nav-link-flex">
              <a class="nav-link" href="#mu-contact">Contact</a>
              <span class="ball-animation"></span>
            </div> {% endcomment %}
            <a class="nav-empty-space" href="#">Empty</a>
          </div>
        </div>
      </div>
    </nav>
    <div class="team-bg">
    <section id="mu-OC/EC" style="padding-bottom:0px;">
      <p class="invisible-text" style="opacity:0;pointer-events:none;margin-bottom:10rem;">Sample text Sample text Sample text Sample text
        Sample text Sample text Sample text Sample text Sample textSample textSample textSample text SSample textSample
        textSample textSample textSample text</p>
      <section id="mu-oc" ></section>
      <center>
        <h2 class="oc-title" style="font-size:4rem;margin-bottom:5rem;color:white">Our Team</h2>
        <p class="ot-text">"Coming together is a beginning, Keeping together is progress and working together is success." Meet the best team of determined, optimistic and amazing people coming together after doing a number of tasks while surviving in the different rounds of selections in which they have to showcase their skills and have to be unique and different from others. Carrying a brilliant perception of understanding things and working under the guidance of an exceptionally helpful and cooperative board, we came up with a team of such amazing, versatile and enthusiastic people who are looking forward to so many opportunities and a very bright future working together. With the support of all we grew not as a team but as a single unit, a family i.e one for all, all for one."</p>
      </center>
      {% comment %} <center>
        <h2 class="oc-title" style="font-size:4rem;margin-bottom:1rem;color:white">Faculty Advisors</h2>
      </center> {% endcomment %}
      <div class="card-section">

        <div class="card-grid1">

          <div class="card-flex">
            <h2 class="oc-title" style="font-size:4rem;margin-bottom:2rem;color:white">President</h2>
            <div class="card" style="height:380px;width:268px;">
              <div class="card__background"
                style="background-image: url(https://raw.githubusercontent.com/Avirat201189221/Hackonix-2022/main/Hackonix-Website/static/images/our-team/EB_Aniket_Saharan.png)">
              </div>
              <div class="card__content">
                {% comment %} <div class="icons" style="right:-98px">
                  <a href="http://instagram.com/aniketsahran" style="color:white;"><i
                      class="fa fa-instagram"></i></a>
                  <a href="https://www.linkedin.com/in/aniket-sahran-453586201/" style="color:white;"><i
                      class="fa fa-linkedin"></i></a>
                  <a href="https://github.com/aniketsahran" style="color:white;"><i class="fa fa-github"></i></a>
                </div> {% endcomment %}
                <h3 class="card__heading">Dr. Rajesh Khanna</h3>
                <h3 class="card__heading">Professor, ECED</h3>
              </div>
            </div>
          </div>

          <div class="card-flex">
            <h2 class="oc-title" style="font-size:4rem;margin-bottom:2rem;color:white"> Vice President</h2>
            <div class="card" style="height:380px;width:268px;">
              <div class="card__background"
                style="background-image: url(https://raw.githubusercontent.com/Avirat201189221/Hackonix-2022/main/Hackonix-Website/static/images/our-team/EB_Aniket_Saharan.png)">
              </div>
              <div class="card__content">
                {% comment %} <div class="icons" style="right:-98px">
                  <a href="http://instagram.com/aniketsahran" style="color:white;"><i
                      class="fa fa-instagram"></i></a>
                  <a href="https://www.linkedin.com/in/aniket-sahran-453586201/" style="color:white;"><i
                      class="fa fa-linkedin"></i></a>
                  <a href="https://github.com/aniketsahran" style="color:white;"><i class="fa fa-github"></i></a>
                </div> {% endcomment %}
                <h3 class="card__heading">Suman Bhullar</h3>
                <h3 class="card__heading">Asst. Professor, EIC</h3>
              </div>
              <div class="blue-bg" style="background:blue;height:60px;width:268px">
              </div>
            </div>
          </div>

        </div>
      </div>
      {% comment %} Card 1 {% endcomment %}
      <center><h2 class="oc-title" style="font-size:4rem;margin-bottom:1rem;color:white">Executive Board</h2></center>
      <div class="card-section">
        <div class="card-grid">
          <div class="card" style="height:380px;width:268px;">
            <div class="card__background"
              style="background-image: url(https://raw.githubusercontent.com/Avirat201189221/TempWebsite/main/static/img/our-team/EB-EC/EB_Vedant_Gadodia.JPG)">
            </div>
            <div class="card__content">
              {% comment %} <p class="card__category">Category</p> {% endcomment %}
              {% comment %} <div class="icons" style="right:-98px">
                <a href="http://instagram.com/aniketsahran" style="color:white;"><i
                    class="fa fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/aniket-sahran-453586201/" style="color:white;"><i
                    class="fa fa-linkedin"></i></a>
                <a href="https://github.com/aniketsahran" style="color:white;"><i class="fa fa-github"></i></a>
              </div> {% endcomment %}
              <h3 class="card__heading">Vedant Gadodia</h3>
              <h3 class="card__heading">General Secretary</h3>
            </div>
          </div>

          <div class="card" style="height:380px;width:268px;">
            <div class="card__background"
              style="background-image: url(https://raw.githubusercontent.com/Avirat201189221/TempWebsite/main/static/img/our-team/EB-EC/EB_Kinshuk_Kathpal.jpg)">
            </div>
            <div class="card__content">
              {% comment %} <div class="icons" style="right:-98px">
                <a href="https://www.instagram.com/inaayat_goyal?r=nametag" style="color:white;"><i
                    class="fa fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/inaayat-goyal" style="color:white;"><i
                    class="fa fa-linkedin"></i></a>
              </div> {% endcomment %}
              <h3 class="card__heading">Kinshuk Kathpal</h3>
              <h3 class="card__heading">General Secretary</h3>
            </div>
          </div>

          {% comment %} Card 2 {% endcomment %}


          {% comment %} Card 3 {% endcomment %}
          <div class="card" style="height:380px;width:268px;">
            <div class="card__background"
              style="background-image: url(https://raw.githubusercontent.com/Avirat201189221/TempWebsite/main/static/img/our-team/EB-EC/EB_Pranav_Modgil.JPG)">
            </div>
            <div class="card__content">
              {% comment %} <p class="card__category">Category</p> {% endcomment %}
              {% comment %} <div class="icons" style="right:-91px">
                <a href="https://www.instagram.com/anushka_dewangan/" style="color:white;"><i
                    class="fa fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/anushka-dewangan-2782631b7/" style="color:white;"><i
                    class="fa fa-linkedin"></i></a>
                <a href="https://github.com/anushkadewangan" style="color:white;"><i class="fa fa-github"></i></a>
              </div> {% endcomment %}
              <h3 class="card__heading">Pranav Modgil</h3>
              <h3 class="card__heading">Finance Secretary</h3>
            </div>
          </div>

          <div class="card" style="height:380px;width:268px;">
            <div class="card__background"
              style="background-image: url(https://raw.githubusercontent.com/Avirat201189221/TempWebsite/main/static/img/our-team/EB-EC/EB_Awantika_Awasthi.jpg);background-postion:top;">
            </div>
            <div class="card__content">
              {% comment %} <p class="card__category">Category</p> {% endcomment %}
              {% comment %} <div class="icons" style="right:-112px">
                <a href="https://www.instagram.com/himanshi.pahuja/" style="color:white;"><i
                    class="fa fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/himanshi-pahuja-938292201/" style="color:white;"><i
                    class="fa fa-linkedin"></i></a>
                <a href="https://github.com/Himanshipahuja" style="color:white;"><i class="fa fa-github"></i></a>
              </div> {% endcomment %}
              <h3 class="card__heading">Awantika Awasthi</h3>
              <h3 class="card__heading">Joint Secretary</h3>
            </div>
          </div>

          {% comment %} Card 4 {% endcomment %}
          <div class="card" style="height:380px;width:268px;">
            <div class="card__background"
              style="background-image: url(https://raw.githubusercontent.com/Avirat201189221/TempWebsite/main/static/img/our-team/EB-EC/EB_Naman_Soni.jpg)">
            </div>
            <div class="card__content">
              {% comment %} <p class="card__category">Category</p> {% endcomment %}
              {% comment %} <div class="icons" style="right:-123px">
                <a href="https://www.instagram.com/ridhhi0794/" style="color:white;"><i class="fa fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/riddhi-arora-6534b3204" style="color:white;"><i
                    class="fa fa-linkedin"></i></a>
              </div> {% endcomment %}
              <h3 class="card__heading">Naman Soni</h3>
              <h3 class="card__heading">Joint Secretary</h3>
            </div>
          </div>

          <div class="card" style="height:380px;width:268px;">
            <div class="card__background"
              style="background-image: url(https://raw.githubusercontent.com/Avirat201189221/TempWebsite/main/static/img/our-team/EB-EC/EB_Bhoomika_Vrati.JPG)">
            </div>
            <div class="card__content">
              {% comment %} <p class="card__category">Category</p> {% endcomment %}
              {% comment %} <div class="icons" style="right:-130px">
                <a href="https://www.instagram.com/hasikatandon/" style="color:white;"><i class="fa fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/hasika-tandon-03731b200/" style="color:white;"><i
                    class="fa fa-linkedin"></i></a>
              </div> {% endcomment %}
              <h3 class="card__heading">Bhoomika Vrati</h3>
              <h3 class="card__heading">Joint Secretary</h3>
            </div>
          </div>

        <div class="card" style="height:380px;width:268px;">
          <div class="card__background"
            style="background-image: url(https://raw.githubusercontent.com/Avirat201189221/TempWebsite/main/static/img/our-team/EB-EC/EB_Tanmay_Deshkar.jpg)">
          </div>
          <div class="card__content">
            {% comment %} <p class="card__category">Category</p> {% endcomment %}
            {% comment %} <div class="icons" style="right:-130px">
              <a href="https://www.instagram.com/hasikatandon/" style="color:white;"><i class="fa fa-instagram"></i></a>
              <a href="https://www.linkedin.com/in/hasika-tandon-03731b200/" style="color:white;"><i
                  class="fa fa-linkedin"></i></a>
            </div> {% endcomment %}
            <h3 class="card__heading">Tanmay Deshkar</h3>
            <h3 class="card__heading">Joint Secretary</h3>
          </div>
        </div>

        <div class="card" style="height:380px;width:268px;">
          <div class="card__background"
            style="background-image: url(https://raw.githubusercontent.com/Avirat201189221/TempWebsite/main/static/img/our-team/EB-EC/EB_Jigya_Munjal.jpg)">
          </div>
          <div class="card__content">
            {% comment %} <p class="card__category">Category</p> {% endcomment %}
            {% comment %} <div class="icons" style="right:-130px">
              <a href="https://www.instagram.com/hasikatandon/" style="color:white;"><i class="fa fa-instagram"></i></a>
              <a href="https://www.linkedin.com/in/hasika-tandon-03731b200/" style="color:white;"><i
                  class="fa fa-linkedin"></i></a>
            </div> {% endcomment %}
            <h3 class="card__heading">Jigya Munjal</h3>
            <h3 class="card__heading">Joint Secretary</h3>
          </div>
        </div>

      <div class="card" style="height:380px;width:268px;">
        <div class="card__background"
          style="background-image: url(https://raw.githubusercontent.com/Avirat201189221/TempWebsite/main/static/img/our-team/EB-EC/EB_Avirat_Sharma.jpg)">
        </div>
        <div class="card__content">
          {% comment %} <p class="card__category">Category</p> {% endcomment %}
          {% comment %} <div class="icons" style="right:-130px">
            <a href="https://www.instagram.com/hasikatandon/" style="color:white;"><i class="fa fa-instagram"></i></a>
            <a href="https://www.linkedin.com/in/hasika-tandon-03731b200/" style="color:white;"><i
                class="fa fa-linkedin"></i></a>
          </div> {% endcomment %}
          <h3 class="card__heading">Avirat Sharma</h3>
          <h3 class="card__heading">Technical Secretary</h3>
        </div>
      </div>


      <div class="card" style="height:380px;width:268px;">
        <div class="card__background"
          style="background-image: url(https://raw.githubusercontent.com/Avirat201189221/TempWebsite/main/static/img/our-team/EB-EC/EB_Tejas_Sood.JPG)">
        </div>
        <div class="card__content">
          {% comment %} <p class="card__category">Category</p> {% endcomment %}
          {% comment %} <div class="icons" style="right:-130px">
            <a href="https://www.instagram.com/hasikatandon/" style="color:white;"><i class="fa fa-instagram"></i></a>
            <a href="https://www.linkedin.com/in/hasika-tandon-03731b200/" style="color:white;"><i
                class="fa fa-linkedin"></i></a>
          </div> {% endcomment %}
          <h3 class="card__heading">Tejas Sood</h3>
          <h3 class="card__heading">External Secretary</h3>
        </div>
      </div>

     </div>
    </div>

          {% comment %} Exbo End {% endcomment %}
      <center><h2 class="oc-title" style="font-size:4rem;margin-bottom:1rem;color:white">Executive Commitee</h2></center>
      <div class="card-section">
        <div class="card-grid">
          <div class="card" style="height:380px;width:268px;">
            <div class="card__background"
              style="background-image: url(https://raw.githubusercontent.com/Avirat201189221/TempWebsite/main/static/img/our-team/EB-EC/EC_Aadill_Garg.PNG)">
            </div>
            <div class="card__content">
              {% comment %} <p class="card__category">Category</p> {% endcomment %}
              {% comment %} <div class="icons" style="right:-17px">
                <a href="https://www.instagram.com/gurmehar_sibal/" style="color:white;"><i
                    class="fa fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/gurmehar-kaur-sibal-04092002" style="color:white;"><i
                    class="fa fa-linkedin"></i></a>
                <a href="https://github.com/GKSibal" style="color:white;"><i class="fa fa-github"></i></a>
              </div> {% endcomment %}
              <h3 class="card__heading">Aadil Garg</h3>
              <h3 class="card__heading">Media Convener</h3>
            </div>
          </div>

          {% comment %} Card 2 {% endcomment %}

          <div class="card" style="height:380px;width:268px;">
            <div class="card__background"
              style="background-image: url(https://raw.githubusercontent.com/Avirat201189221/TempWebsite/main/static/img/our-team/EB-EC/EC_Diya_Gangwar.jpg);">
            </div>
            <div class="card__content">
              {% comment %} <p class="card__category">Category</p> {% endcomment %}
              {% comment %} <div class="icons" style="right:-53px">
                <a href="https://www.instagram.com/ansh_g23/" style="color:white;"><i
                    class="fa fa-instagram"></i></a>
                <a href="http://linkedin.com/in/ansh-gupta-b9956a208/" style="color:white;"><i
                    class="fa fa-linkedin"></i></a>
                <a href="http://github.com/Ansh231001" style="color:white;"><i class="fa fa-github"></i></a>
              </div> {% endcomment %}
              <h3 class="card__heading">Diya Gangwar</h3>
              <h3 class="card__heading">Public Relations Convener</h3>
            </div>
          </div>

          {% comment %} Card 3 {% endcomment %}
          <div class="card" style="height:380px;width:268px;">
            <div class="card__background"
              style="background-image: url(https://raw.githubusercontent.com/Avirat201189221/TempWebsite/main/static/img/our-team/EB-EC/EC_Kushagra_Chandra.jpg)">
            </div>
            <div class="card__content">
              {% comment %} <p class="card__category">Category</p> {% endcomment %}
              {% comment %} <div class="icons" style="right:-77px">
                <a href="https://www.instagram.com/anshikajain204/" style="color:white;"><i
                    class="fa fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/anshika-jain-6a44581bb/" style="color:white;"><i
                    class="fa fa-linkedin"></i></a>
                <a href="https://github.com/AnshikaJain2405" style="color:white;"><i class="fa fa-github"></i></a>
              </div> {% endcomment %}
              <h3 class="card__heading">Kushagra Chandra</h3>
              <h3 class="card__heading">Management Convener</h3>
            </div>
          </div>

          {% comment %} Card 4 {% endcomment %}
          <div class="card" style="height:380px;width:268px;">
            <div class="card__background"
              style="background-image: url(https://raw.githubusercontent.com/Avirat201189221/TempWebsite/main/static/img/our-team/EB-EC/EC_Mehul_Bhardwaj.png)">
            </div>
            <div class="card__content">
              {% comment %} <p class="card__category">Category</p> {% endcomment %}
              {% comment %} <div class="icons" style="right:-76px">
                <a href="https://www.instagram.com/ridhhi0794/" style="color:white;"><i class="fa fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/ridhhi-aggarwal-07932a208" style="color:white;"><i
                    class="fa fa-linkedin"></i></a>
                <a href="https://github.com/ridhhi794" style="color:white;"><i class="fa fa-github"></i></a>
              </div> {% endcomment %}
              <h3 class="card__heading">Mehul Bhardwaj</h3>
              <h3 class="card__heading">Design Convener</h3>
            </div>
          </div>

          {% comment %} Card 5 {% endcomment %}
          <div class="card" style="height:380px;width:268px;">
            <div class="card__background"
              style="background-image: url(https://raw.githubusercontent.com/Avirat201189221/TempWebsite/main/static/img/our-team/EB-EC/EC_Nehchal_Kaur.jpg)">
            </div>
            <div class="card__content">
              {% comment %} <p class="card__category">Category</p> {% endcomment %}
              {% comment %} <div class="icons" style="right:-127px">
                <a href="https://www.instagram.com/subhavbatra/" style="color:white;"><i
                    class="fa fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/subhav-batra-0269341a4/" style="color:white;"><i
                    class="fa fa-linkedin"></i></a>
                <a href="https://github.com/SubhavBatra" style="color:white;"><i class="fa fa-github"></i></a>
              </div> {% endcomment %}
              <h3 class="card__heading">Nehchal Kaur</h3>
              <h3 class="card__heading">Content Convener</h3>
            </div>
          </div>

          <div class="card" style="height:380px;width:268px;">
            <div class="card__background"
              style="background-image: url(https://raw.githubusercontent.com/Avirat201189221/TempWebsite/main/static/img/our-team/EB-EC/EC_Sidhanbir_Singh.jpg)">
            </div>
            <div class="card__content">
              {% comment %} <p class="card__category">Category</p> {% endcomment %}
              {% comment %} <div class="icons" style="right:-127px">
                <a href="https://www.instagram.com/apoorv7502/" style="color:white;"><i class="fa fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/apoorv-saxena-6a4258200/" style="color:white;"><i
                    class="fa fa-linkedin"></i></a>
                <a href="https://github.com/Apoorv-Saxena" style="color:white;"><i class="fa fa-github"></i></a>
              </div> {% endcomment %}
              <h3 class="card__heading">Sidhanbir Singh</h3>
              <h3 class="card__heading">Documentation Convener</h3>
            </div>
          </div>

          {% comment %} Card 6 {% endcomment %}
          <div class="card" style="height:380px;width:268px;">
            <div class="card__background"
              style="background-image: url(https://raw.githubusercontent.com/Avirat201189221/TempWebsite/main/static/img/our-team/EB-EC/EC_Veni_Tiwari.jpg)">
            </div>
            <div class="card__content">
              {% comment %} <p class="card__category">Category</p> {% endcomment %}
              {% comment %} <div class="icons" style="right:-122px">
                <a href="https://www.instagram.com/mukul_108/" style="color:white;"><i class="fa fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/mukul-singhal-867186212" style="color:white;"><i
                    class="fa fa-linkedin"></i></a>
                <a href="https://github.com/mukulsinghal407" style="color:white;"><i class="fa fa-github"></i></a>
              </div> {% endcomment %}
              <h3 class="card__heading">Veni Tiwari</h3>
              <h3 class="card__heading">Creativity Convener</h3>
            </div>
          </div>

          <div class="card" style="height:380px;width:268px;">
            <div class="card__background"
              style="background-image: url(https://raw.githubusercontent.com/Avirat201189221/TempWebsite/main/static/img/our-team/EB-EC/EC_Vishnu_Batra.jpg)">
            </div>
            <div class="card__content">
              {% comment %} <p class="card__category">Category</p> {% endcomment %}
              {% comment %} <div class="icons" style="right:-122px">
                <a href="https://www.instagram.com/mukul_108/" style="color:white;"><i class="fa fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/mukul-singhal-867186212" style="color:white;"><i
                    class="fa fa-linkedin"></i></a>
                <a href="https://github.com/mukulsinghal407" style="color:white;"><i class="fa fa-github"></i></a>
              </div> {% endcomment %}
              <h3 class="card__heading">Vishnu Batra</h3>
              <h3 class="card__heading">Logistics Convener</h3>
            </div>
          </div>

        </div>
      </div>

      <center><h2 class="oc-title" style="font-size:4rem;margin-bottom:1rem;color:white">Core Team</h2></center>
      <div class="card-section">
        <div class="card-grid">
          <div class="card" style="height:380px;width:268px;">
            <div class="card__background"
              style="background-image: url(https://raw.githubusercontent.com/Avirat201189221/TempWebsite/main/static/img/our-team/Core/CORE_Aakash_Arora.jpg)">
            </div>
          <div class="card__content">
            {% comment %} <div class="icons" style="right:-41px">
              <a href="https://www.instagram.com/bhoomika_vrati/" style="color:white;"><i
                  class="fa fa-instagram"></i></a>
              <a href="https://www.linkedin.com/in/bhoomika-vrati-b3565622b" style="color:white;"><i
                  class="fa fa-linkedin"></i></a>
              <a href="https://github.com/BhoomikaVrati" style="color:white;"><i class="fa fa-github"></i></a>
            </div> {% endcomment %}
            <h3 class="card__heading">Aakash Arora</h3>
            <h3 class="card__heading">Core</h3>
          </div>
        </div>

        <div class="card" style="height:380px;width:268px;">
          <div class="card__background"
            style="background-image: url(https://raw.githubusercontent.com/Avirat201189221/TempWebsite/main/static/img/our-team/Core/CORE_Abyudaya_Venkatesh.jpeg)">
          </div>
          <div class="card__content">
            {% comment %} <div class="icons">
              <a href="https://www.instagram.com/_tejassood/" style="color: white;"><i
                  class="fa fa-instagram"></i></a>
              <a href="https://www.linkedin.com/in/tejas-sood-ba9ba6219/" style="color: white;"><i
                  class="fa fa-linkedin"></i></a>
              <a href="https://github.com/tejasood" style="color: white;"><i class="fa fa-github"></i></a>
            </div> {% endcomment %}
            <h3 class="card__heading">Abhyudaya Venkatesh</h3>
            <h3 class="card__heading">Core</h3>
          </div>
        </div>


        {% comment %} Card 2 {% endcomment %}
        <div class="card" style="height:380px;width:268px;">
          <div class="card__background"
            style="background-image: url(https://raw.githubusercontent.com/Avirat201189221/TempWebsite/main/static/img/our-team/Core/CORE_Akshara_Manocha.jpeg)">
          </div>
          <div class="card__content">
            {% comment %} <div class="icons" style="right:-50px;">
              <a href="https://www.instagram.com/vedant.gadodia/" style="color:white;"><i
                  class="fa fa-instagram"></i></a>
              <a href="https://www.linkedin.com/in/vedant-gadodia-77568b229" style="color:white;"><i
                  class="fa fa-linkedin"></i></a>
              <a href="https://github.com/ved-ant" style="color:white;"><i class="fa fa-github"></i></a>
            </div> {% endcomment %}
            <h3 class="card__heading">Akshara Manocha</h3>
            <h3 class="card__heading">Core</h3>
          </div>
        </div>


        {% comment %} Card 5 {% endcomment %}
        <div class="card" style="height:380px;width:268px;">
          <div class="card__background"
            style="background-image: url(https://raw.githubusercontent.com/Avirat201189221/TempWebsite/main/static/img/our-team/Core/CORE_Anushka_Sharma.jpg)">
          </div>
          <div class="card__content">
            {% comment %} <div class="icons" style="right:-41px">
              <a href="https://www.instagram.com/jigya_munjal/" style="color:white;"><i class="fa fa-instagram"></i></a>
              <a href="https://www.linkedin.com/in/jigya-munjal-648115228" style="color:white;"><i
                  class="fa fa-linkedin"></i></a>
              <a href="https://github.com/jigyaa" style="color:white;"><i class="fa fa-github"></i></a>
            </div> {% endcomment %}
            <h3 class="card__heading">Anushka Sharma</h3>
            <h3 class="card__heading">Core</h3>
          </div>
        </div>

        {% comment %} Card 7 {% endcomment %}
        <div class="card" style="height:380px;width:268px;">
          <div class="card__background"
            style="background-image: url(https://raw.githubusercontent.com/Avirat201189221/TempWebsite/main/static/img/our-team/Core/CORE_Aparna.jpg)">
          </div>
          <div class="card__content">
            {% comment %} <div class="icons" style="right:-41px">
              <a href="https://instagram.com/kush_chandra06?igshid=ZDdkNTZiNTM=" style="color:white;"><i
                  class="fa fa-instagram"></i></a>
              <a href="https://www.linkedin.com/in/kushagra-chandra-592033247" style="color:white;"><i
                  class="fa fa-linkedin"></i></a>
              <a href="https://github.com/kushagrachandra06" style="color:white;"><i class="fa fa-github"></i></a>
            </div> {% endcomment %}
            <h3 class="card__heading">Aparna</h3>
            <h3 class="card__heading">Core</h3>
          </div>
        </div>

          <div class="card" style="height:380px;width:268px;">
            <div class="card__background"
              style="background-image: url(https://raw.githubusercontent.com/Avirat201189221/TempWebsite/main/static/img/our-team/Core/CORE_Arjun_Shekhar.png)">
            </div>
            <div class="card__content">
              {% comment %} <div class="icons" style="right:-97px">
                <a href="https://www.instagram.com/awantika165/" style="color: white;"><i
                    class="fa fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/awantika-awasthi-57a73b228" style="color: white;"><i
                    class="fa fa-linkedin"></i></a>
                <a href="https://github.com/awantika165" style="color: white;"><i class="fa fa-github"></i></a>
              </div> {% endcomment %}
              <h3 class="card__heading">Arjun Shekhar</h3>
              <h3 class="card__heading">Core</h3>
            </div>
          </div>

          {% comment %} Card 2 {% endcomment %}
          <div class="card" style="height:380px;width:268px;">
            <div class="card__background"
              style="background-image: url(https://raw.githubusercontent.com/Avirat201189221/TempWebsite/main/static/img/our-team/Core/CORE_Chaitanya_Jayant.jpg)">
            </div>
            <div class="card__content">
              {% comment %} <div class="icons"  style="right:-97px">
                <a href="https://www.instagram.com/slygoross/" style="color:white;"><i class="fa fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/pranav-modgil-15535b99/" style="color:white;"><i
                    class="fa fa-linkedin"></i></a>
                <a href="https://github.com/Slygoross" style="color:white;"><i class="fa fa-github"></i></a>
              </div> {% endcomment %}
              <h3 class="card__heading">Chaitanya Jayant</h3>
              <h3 class="card__heading">Core</h3>
            </div>
          </div>

          {% comment %} Card 3 {% endcomment %}
          <div class="card" style="height:380px;width:268px;">
            <div class="card__background"
              style="background-image: url(https://raw.githubusercontent.com/Avirat201189221/TempWebsite/main/static/img/our-team/Core/CORE_Chitnoor.jpeg)">
            </div>
            <div class="card__content">
              {% comment %} <div class="icons" style="right:-126px">
                <a href="https://www.instagram.com/sam_gupta2003/" style="color:white;"><i
                    class="fa fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/sanyam-gupta-973584222" style="color:white;"><i
                    class="fa fa-linkedin"></i></a>
                <a href="https://github.com/SANYAM1612" style="color:white;"><i class="fa fa-github"></i></a>
              </div> {% endcomment %}
              <h3 class="card__heading">Chitnoor Kaur</h3>
              <h3 class="card__heading">Core</h3>
            </div>
          </div>

          {% comment %} Card 4 {% endcomment %}
          <div class="card" style="height:380px;width:268px;">
            <div class="card__background"
              style="background-image: url(https://raw.githubusercontent.com/Avirat201189221/TempWebsite/main/static/img/our-team/Core/CORE_Gargi_Mehta.jpg)">
            </div>
            <div class="card__content">
              {% comment %} <div class="icons" style="right:-124px">
                <a href="https://www.instagram.com/diagangwar/" style="color:white;"><i class="fa fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/diya-gangwar-921a36237/" style="color:white;"><i
                    class="fa fa-linkedin"></i></a>
                <a href="https://github.com/diya040" style="color:white;"><i class="fa fa-github"></i></a>
              </div> {% endcomment %}
              <h3 class="card__heading">Gargi Mehta</h3>
              <h3 class="card__heading">Core</h3>
            </div>
          </div>

                    {% comment %} Card 14 {% endcomment %}
          <div class="card" style="height:380px;width:268px;">
            <div class="card__background"
              style="background-image: url(https://raw.githubusercontent.com/Avirat201189221/TempWebsite/main/static/img/our-team/Core/CORE_Geetansh_Mohindru.jpg)">
            </div>
            <div class="card__content">
              {% comment %} <div class="icons" style="right:-118px;">
                <a href="https://www.instagram.com/sunali_sharma_22/" style="color:white;"><i
                    class="fa fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/sunali-sharma-4bb396227" style="color:white;"><i
                    class="fa fa-linkedin"></i></a>
                <a href="https://www.github.com/Dj_2801" style="color:white;"><i class="fa fa-github"></i></a>
              </div> {% endcomment %}
              <h3 class="card__heading">Geetansh Mohindru</h3>
              <h3 class="card__heading">Core</h3>
            </div>
          </div> 

          {% comment %} Card 5 {% endcomment %}
          <div class="card" style="height:380px;width:268px;">
            <div class="card__background"
              style="background-image: url(https://raw.githubusercontent.com/Avirat201189221/TempWebsite/main/static/img/our-team/Core/CORE_Jahnvi_Ranjan.jpg)">
            </div>
            <div class="card__content">
              {% comment %} <div class="icons" style="right:-41px">
                <a href="https://www.instagram.com/tanmay.exe/" style="color:white;"><i class="fa fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/tanmay-deshkar-0366ab22a" style="color:white;"><i
                    class="fa fa-linkedin"></i></a>
                <a href="https://github.com/Fluorospek" style="color:white;"><i class="fa fa-github"></i></a>
              </div> {% endcomment %}
              <h3 class="card__heading">Jahnvi Ranjan</h3>
              <h3 class="card__heading">Core</h3>
            </div>
          </div>


          <div class="card" style="height:380px;width:268px;">
            <div class="card__background"
              style="background-image: url(https://raw.githubusercontent.com/Avirat201189221/TempWebsite/main/static/img/our-team/Core/CORE_Khushpreet_Singh.jpg)">
            </div>
            <div class="card__content">
              {% comment %} <div class="icons" style="right:-109px">
                <a href="https://www.instagram.com/kinshuk_k/" style="color:white;"><i class="fa fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/kinshuk-kathpal" style="color:white;"><i
                    class="fa fa-linkedin"></i></a>
                <a href="https://github.com/kinshuk003" style="color:white;"><i class="fa fa-github"></i></a>
              </div> {% endcomment %}
              <h3 class="card__heading">Khushpreet Singh</h3>
              <h3 class="card__heading">Core</h3>
            </div>
          </div>
          
          {% comment %} Card 6 {% endcomment %}


          {% comment %} Card 7 {% endcomment %}
          <div class="card" style="height:380px;width:268px;">
            <div class="card__background"
              style="background-image: url(https://raw.githubusercontent.com/Avirat201189221/TempWebsite/main/static/img/our-team/Core/CORE_Kriti_Goyal.JPG)">
            </div>
            <div class="card__content">
              {% comment %} <div class="icons" style="right:-41px">
                <a href="https://www.instagram.com/hardikjain1402/?hl=en" style="color:white;"><i
                    class="fa fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/hardik-jain-53007b21b" style="color:white;"><i
                    class="fa fa-linkedin"></i></a>
                <a href="https://github.com/Hardik14Jain" style="color:white;"><i class="fa fa-github"></i></a>
              </div> {% endcomment %}
              <h3 class="card__heading">Kriti Goyal</h3>
              <h3 class="card__heading">Core</h3>
            </div>
          </div>

          <div class="card" style="height:380px;width:268px;">
            <div class="card__background"
              style="background-image: url(https://raw.githubusercontent.com/Avirat201189221/TempWebsite/main/static/img/our-team/Core/CORE_Maanas_Somani.jpg)">
            </div>
            <div class="card__content">
              {% comment %} <div class="icons" style="right:-108px">
                <a href="https://instagram.com/sidhanbir?igshid=YmMyMTA2M2Y=" style="color:white;"><i
                    class="fa fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/sidhanbir-singh-093ba7228/" style="color:white;"><i
                    class="fa fa-linkedin"></i></a>
                <a href="https://github.com/samuraeye007" style="color:white;"><i class="fa fa-github"></i></a>
              </div> {% endcomment %}
              <h3 class="card__heading">Maanas Somani</h3>
              <h3 class="card__heading">Core</h3>
            </div>
          </div>

        

          {% comment %} Card 9 {% endcomment %}

          {% comment %} Card 10 {% endcomment %}
           <div class="card" style="height:380px;width:268px;">
            <div class="card__background"
              style="background-image: url(https://raw.githubusercontent.com/Avirat201189221/TempWebsite/main/static/img/our-team/Core/CORE_Mannan_Khanna.jpeg)">
            </div>
            <div class="card__content">
              {% comment %} <div class="icons" style="right:-142px">
                <a href="https://www.instagram.com/nehchal_k/" style="color:white;"><i class="fa fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/nehchal-kaur-272367246" style="color:white;"><i
                    class="fa fa-linkedin"></i></a>
                <a href="https://github.com/NehchalKaur" style="color:white;"><i class="fa fa-github"></i></a>
              </div> {% endcomment %}
              <h3 class="card__heading">Mannan Khanna</h3>
              <h3 class="card__heading">Core</h3>
            </div>
          </div>

          <div class="card" style="height:380px;width:268px;">
            <div class="card__background"
              style="background-image: url(https://raw.githubusercontent.com/Avirat201189221/TempWebsite/main/static/img/our-team/Core/CORE_Manya_Bansal.jpg)">
            </div>
            <div class="card__content">
              {% comment %} <div class="icons" style="right:-142px">
                <a href="https://www.instagram.com/nehchal_k/" style="color:white;"><i class="fa fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/nehchal-kaur-272367246" style="color:white;"><i
                    class="fa fa-linkedin"></i></a>
                <a href="https://github.com/NehchalKaur" style="color:white;"><i class="fa fa-github"></i></a>
              </div> {% endcomment %}
              <h3 class="card__heading">Manya Bansal </h3>
              <h3 class="card__heading">Core</h3>
            </div>
          </div>
        

          {% comment %} Card 13 {% endcomment %}
          <div class="card" style="height:380px;width:268px;">
            <div class="card__background"
              style="background-image: url(https://raw.githubusercontent.com/Avirat201189221/TempWebsite/main/static/img/our-team/Core/CORE_Naman_Kumar.jpeg)">
            </div>
            <div class="card__content">
              {% comment %} <div class="icons" style="right:-120px">
                <a href="https://www.instagram.com/akritissbored/" style="color:white;"><i
                    class="fa fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/akriti-rai-51746722b" style="color:white;"><i
                    class="fa fa-linkedin"></i></a>
                <a href="https://github.com/iakriti" style="color:white;"><i class="fa fa-github"></i></a>
              </div> {% endcomment %}
              <h3 class="card__heading">Naman Kumar</h3>
              <h3 class="card__heading">Core</h3>
            </div>
          </div>

          <div class="card" style="height:380px;width:268px;">
            <div class="card__background"
              style="background-image: url(https://raw.githubusercontent.com/Avirat201189221/TempWebsite/main/static/img/our-team/Core/CORE_Navneet_Sagar.jpg)">
            </div>
            <div class="card__content">
              {% comment %} <div class="icons" style="right:-109px">
                <a href="https://www.instagram.com/kinshuk_k/" style="color:white;"><i class="fa fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/kinshuk-kathpal" style="color:white;"><i
                    class="fa fa-linkedin"></i></a>
                <a href="https://github.com/kinshuk003" style="color:white;"><i class="fa fa-github"></i></a>
              </div> {% endcomment %}
              <h3 class="card__heading">Navneet Sagar</h3>
              <h3 class="card__heading">Core</h3>
            </div>
          </div>

          <div class="card" style="height:380px;width:268px;">
            <div class="card__background"
              style="background-image: url(https://raw.githubusercontent.com/Avirat201189221/TempWebsite/main/static/img/our-team/Core/CORE_Nutan.jpg)">
            </div>
            <div class="card__content">
              {% comment %} <div class="icons" style="right:-109px">
                <a href="https://www.instagram.com/kinshuk_k/" style="color:white;"><i class="fa fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/kinshuk-kathpal" style="color:white;"><i
                    class="fa fa-linkedin"></i></a>
                <a href="https://github.com/kinshuk003" style="color:white;"><i class="fa fa-github"></i></a>
              </div> {% endcomment %}
              <h3 class="card__heading">Nutan Jain</h3>
              <h3 class="card__heading">Core</h3>
            </div>
          </div>

          {% comment %} Card 15 {% endcomment %}

           <div class="card" style="height:380px;width:268px;">
            <div class="card__background"
              style="background-image: url(https://raw.githubusercontent.com/Avirat201189221/TempWebsite/main/static/img/our-team/Core/CORE_Prarthna_Agarwal.jpg)">
            </div>
            <div class="card__content">
              {% comment %} <div class="icons" style="right:-104px">
                <a href="https://www.linkedin.com/in/shatakshi-saxena-a3863a221/" style="color:white;"><i
                    class="fa fa-linkedin"></i></a>
                <a href="https://github.com/Shatakshi127" style="color:white;"><i class="fa fa-github"></i></a>
              </div> {% endcomment %}
              <h3 class="card__heading">Prarthna Agarwal</h3>
              <h3 class="card__heading">Core</h3>
            </div>
          </div> 

          <div class="card" style="height:380px;width:268px;">
            <div class="card__background"
              style="background-image: url(https://raw.githubusercontent.com/Avirat201189221/TempWebsite/main/static/img/our-team/Core/CORE_Rhythm.png)">
            </div>
            <div class="card__content">
              {% comment %} <div class="icons" style="right:-122px">
                <a href="https://www.instagram.com/avi.0603/" style="color:white;"><i class="fa fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/avirat-sharma-685133229/" style="color:white;"><i
                    class="fa fa-linkedin"></i></a>
                <a href="https://github.com/Avirat201189221" style="color:white;"><i class="fa fa-github"></i></a>
              </div> {% endcomment %}
              <h3 class="card__heading">Rhythm</h3>
              <h3 class="card__heading">Core</h3>
            </div>
          </div>

          <div class="card" style="height:380px;width:268px;">
            <div class="card__background"
              style="background-image: url(https://raw.githubusercontent.com/Avirat201189221/TempWebsite/main/static/img/our-team/Core/CORE_Saarthak_Srivastava.jpg)">
            </div>
            <div class="card__content">
              {% comment %} <div class="icons" style="right:-122px">
                <a href="https://www.instagram.com/avi.0603/" style="color:white;"><i class="fa fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/avirat-sharma-685133229/" style="color:white;"><i
                    class="fa fa-linkedin"></i></a>
                <a href="https://github.com/Avirat201189221" style="color:white;"><i class="fa fa-github"></i></a>
              </div> {% endcomment %}
              <h3 class="card__heading">Saarthak Srivastava</h3>
              <h3 class="card__heading">Core</h3>
            </div>
          </div>

          <div class="card" style="height:380px;width:268px;">
            <div class="card__background"
              style="background-image: url(https://raw.githubusercontent.com/Avirat201189221/TempWebsite/main/static/img/our-team/Core/CORE_Samridhhi_Bhardwaj.jpeg)">
            </div>
            <div class="card__content">
              {% comment %} <div class="icons" style="right:-122px">
                <a href="https://www.instagram.com/avi.0603/" style="color:white;"><i class="fa fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/avirat-sharma-685133229/" style="color:white;"><i
                    class="fa fa-linkedin"></i></a>
                <a href="https://github.com/Avirat201189221" style="color:white;"><i class="fa fa-github"></i></a>
              </div> {% endcomment %}
              <h3 class="card__heading">Samridhhi Bhardwaj</h3>
              <h3 class="card__heading">Core</h3>
            </div>
          </div>

          <div class="card" style="height:380px;width:268px;">
            <div class="card__background"
              style="background-image: url(https://raw.githubusercontent.com/Avirat201189221/TempWebsite/main/static/img/our-team/Core/CORE_Shreya_Saini.jpeg)">
            </div>
            <div class="card__content">
              {% comment %} <div class="icons" style="right:-122px">
                <a href="https://www.instagram.com/avi.0603/" style="color:white;"><i class="fa fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/avirat-sharma-685133229/" style="color:white;"><i
                    class="fa fa-linkedin"></i></a>
                <a href="https://github.com/Avirat201189221" style="color:white;"><i class="fa fa-github"></i></a>
              </div> {% endcomment %}
              <h3 class="card__heading">Shreya Saini</h3>
              <h3 class="card__heading">Core</h3>
            </div>
          </div>

          
          <div class="card" style="height:380px;width:268px;">
            <div class="card__background"
              style="background-image: url(https://raw.githubusercontent.com/Avirat201189221/TempWebsite/main/static/img/our-team/Core/CORE_Shreya_Singh.jpg)">
            </div>
            <div class="card__content">
              {% comment %} <div class="icons" style="right:-122px">
                <a href="https://www.instagram.com/avi.0603/" style="color:white;"><i class="fa fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/avirat-sharma-685133229/" style="color:white;"><i
                    class="fa fa-linkedin"></i></a>
                <a href="https://github.com/Avirat201189221" style="color:white;"><i class="fa fa-github"></i></a>
              </div> {% endcomment %}
              <h3 class="card__heading">Shreya Singh</h3>
              <h3 class="card__heading">Core</h3>
            </div>
          </div>

          
          <div class="card" style="height:380px;width:268px;">
            <div class="card__background"
              style="background-image: url(https://raw.githubusercontent.com/Avirat201189221/TempWebsite/main/static/img/our-team/Core/CORE_Yash_Bhargava.jpg)">
            </div>
            <div class="card__content">
              {% comment %} <div class="icons" style="right:-122px">
                <a href="https://www.instagram.com/avi.0603/" style="color:white;"><i class="fa fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/avirat-sharma-685133229/" style="color:white;"><i
                    class="fa fa-linkedin"></i></a>
                <a href="https://github.com/Avirat201189221" style="color:white;"><i class="fa fa-github"></i></a>
              </div> {% endcomment %}
              <h3 class="card__heading">Yash Bhargava</h3>
              <h3 class="card__heading">Core</h3>
            </div>
          </div>



        </div>
      </div>

        </div>
      </div>
    </section>

        </div>
      </div>
    </section>
    <footer class="footer" style="margin-top:10rem">
      <center>
        {% comment %} <h2 class="contact-title" style="font-size:4rem;">Contact Us</h2> {% endcomment %}
      </center>
      <div class="container" style="border-radius:0rem;padding-bottom:2rem">
        <div class="row">
          <div class="footer-col">
            <h4>ISTE</h4>
            <ul>
              <li>
                <p>ISTE is a well established technical society with a love of creating a cohesive environment to make
                  learning fun, insightful and yet impactful. We have regularly been organizing events, seminars,
                  workshops to see real-life impact.</p>
              </li>
            </ul>
          </div>
          <div class="footer-col">
          <h4>About Us</h4>
          <ul>
            <li>
              <p>ISTE is the abode to a passionate community that believes in harnessing the power of technology to
                transform teaching and learning,accelerate innovation and solve tough problems in education.</p>
            </li>
          </ul>
        </div>
          <div class="footer-col">
            <h4>Follow Us</h4>
            <div class="social-links">
              <a href="https://www.facebook.com/ISTE.Thapar"><i class="fa fa-facebook"></i></a>
              <a href="https://github.com/ISTE-TIET"><i class="fa fa-github"></i></a>
              <a href="https://www.instagram.com/iste_tiet"><i class="fa fa-instagram"></i></a>
              <a href="mailto:iste@thapar.edu"><i class="fa fa-envelope contact"></i></a>
              <a href="https://www.linkedin.com/company/iste-thapar-chapter/"><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>
      <center>
        <p style="margin-top:2rem;">©️ Copyright ISTE TIET 2023.</p>
      </center>
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
      {% comment %} jQuery {% endcomment %}
  <script type="text/javascript" src="{%static 'js/jquery.js'%}"></script>
  {% comment %} Aos Script {% endcomment %}
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
  </div>
  </body>
</html>
