{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Our Team</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.8.4/swiper-bundle.min.js"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <!-- Font Awesome -->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">


    <link href="{%static 'css/oc-ec-styles.css' %}" rel="stylesheet">
  </head>
  <body style="background-color:black">
    <div class="team-bg">
    <section id="mu-OC/EC" style="padding-bottom:0px;">
      <p class="invisible-text" style="opacity:0;pointer-events:none">Sample text Sample text Sample text Sample text
        Sample text Sample text Sample text Sample text Sample textSample textSample textSample text SSample textSample
        textSample textSample textSample text</p>
      <section id="mu-oc" ></section>
      <center>
        <h2 class="oc-title" style="font-size:4rem;margin-bottom:1rem;color:white">Our Team</h2>
      </center>
      {% comment %} Card 1 {% endcomment %}
      <center><h2 class="oc-title" style="font-size:4rem;margin-bottom:1rem;color:white">Executive Board</h2></center>
      <div class="card-section">
        <div class="card-grid">
          <div class="card" style="height:380px;width:268px;">
            <div class="card__background"
              style="background-image: url(https://raw.githubusercontent.com/Avirat201189221/Hackonix-2022/main/Hackonix-Website/static/images/our-team/EB_Aniket_Saharan.png)">
            </div>
            <div class="card__content">
              {% comment %} <p class="card__category">Category</p> {% endcomment %}
              <div class="icons" style="right:-98px">
                <a href="http://instagram.com/aniketsahran" style="color:white;"><i
                    class="fa fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/aniket-sahran-453586201/" style="color:white;"><i
                    class="fa fa-linkedin"></i></a>
                <a href="https://github.com/aniketsahran" style="color:white;"><i class="fa fa-github"></i></a>
              </div>
              <h3 class="card__heading">Aniket Saharan</h3>
              <h3 class="card__heading">General Secretary</h3>
            </div>
          </div>

          <div class="card" style="height:380px;width:268px;">
            <div class="card__background"
              style="background-image: url(https://raw.githubusercontent.com/Avirat201189221/Hackonix-2022/main/Hackonix-Website/static/images/our-team/EB_Inaayat_Goyal.jpeg)">
            </div>
            <div class="card__content">
              {% comment %} <p class="card__category">Category</p> {% endcomment %}
              <div class="icons" style="right:-98px">
                <a href="https://www.instagram.com/inaayat_goyal?r=nametag" style="color:white;"><i
                    class="fa fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/inaayat-goyal" style="color:white;"><i
                    class="fa fa-linkedin"></i></a>
                {% comment %} <a href="https://github.com/GKSibal" style="color:white;"><i class="fa fa-github"></i></a> {% endcomment %}
              </div>
              <h3 class="card__heading">Inaayat Goyal</h3>
              <h3 class="card__heading">General Secretary</h3>
            </div>
          </div>

          {% comment %} Card 2 {% endcomment %}


          {% comment %} Card 3 {% endcomment %}
          <div class="card" style="height:380px;width:268px;">
            <div class="card__background"
              style="background-image: url(https://raw.githubusercontent.com/Avirat201189221/Hackonix-2022/main/Hackonix-Website/static/images/our-team/EB_Anushka_Dewangan.JPG)">
            </div>
            <div class="card__content">
              {% comment %} <p class="card__category">Category</p> {% endcomment %}
              <div class="icons" style="right:-91px">
                <a href="https://www.instagram.com/anushka_dewangan/" style="color:white;"><i
                    class="fa fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/anushka-dewangan-2782631b7/" style="color:white;"><i
                    class="fa fa-linkedin"></i></a>
                <a href="https://github.com/anushkadewangan" style="color:white;"><i class="fa fa-github"></i></a>
              </div>
              <h3 class="card__heading">Anushka Dewangan</h3>
              <h3 class="card__heading">Finance Secretary</h3>
            </div>
          </div>

          <div class="card" style="height:380px;width:268px;">
            <div class="card__background"
              style="background-image: url(https://raw.githubusercontent.com/Avirat201189221/Hackonix-2022/main/Hackonix-Website/static/images/our-team/EC_Himanshi_Pahuja.JPG);background-postion:top;">
            </div>
            <div class="card__content">
              {% comment %} <p class="card__category">Category</p> {% endcomment %}
              <div class="icons" style="right:-112px">
                <a href="https://www.instagram.com/himanshi.pahuja/" style="color:white;"><i
                    class="fa fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/himanshi-pahuja-938292201/" style="color:white;"><i
                    class="fa fa-linkedin"></i></a>
                <a href="https://github.com/Himanshipahuja" style="color:white;"><i class="fa fa-github"></i></a>
              </div>
              <h3 class="card__heading">Himanshi Pahuja</h3>
              <h3 class="card__heading">Joint Secretary</h3>
            </div>
          </div>

          {% comment %} Card 4 {% endcomment %}
          <div class="card" style="height:380px;width:268px;">
            <div class="card__background"
              style="background-image: url(https://raw.githubusercontent.com/Avirat201189221/Hackonix-2022/main/Hackonix-Website/static/images/our-team/EB_Riddhi_Arora.jpeg)">
            </div>
            <div class="card__content">
              {% comment %} <p class="card__category">Category</p> {% endcomment %}
              <div class="icons" style="right:-123px">
                <a href="https://www.instagram.com/ridhhi0794/" style="color:white;"><i class="fa fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/riddhi-arora-6534b3204" style="color:white;"><i
                    class="fa fa-linkedin"></i></a>
                {% comment %} <a href="https://github.com/ridhhi794" style="color:white;"><i class="fa fa-github"></i></a> {% endcomment %}
              </div>
              <h3 class="card__heading">Ridhhi Arora</h3>
              <h3 class="card__heading">Joint Secretary</h3>
            </div>
          </div>

          {% comment %} Card 4 {% endcomment %}
          {% comment %} <div class="card" style="height:380px;width:268px;">
            <div class="card__background"
              style="background-image: url(https://raw.githubusercontent.com/Avirat201189221/Hackonix-2022/main/Hackonix-Website/static/images/our-team/EB_Kapil_Garg.jpeg)">
            </div>
            <div class="card__content">
              <div class="icons" style="right:-123px">
                <a href="https://github.com/kapilgarg2002" style="color:white;"><i class="fa fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/kapil-garg-9094081b9/" style="color:white;"><i
                    class="fa fa-linkedin"></i></a>
                <a href="https://github.com/kapilgarg2002" style="color:white;"><i class="fa fa-github"></i></a>
              </div>
              <h3 class="card__heading">Kapil Garg</h3>
              <h3 class="card__heading">Joint Secretary</h3>
            </div>
          </div> {% endcomment %}

          <div class="card" style="height:380px;width:268px;">
            <div class="card__background"
              style="background-image: url(https://raw.githubusercontent.com/Avirat201189221/Hackonix-2022/main/Hackonix-Website/static/images/our-team/EB_Hasika_Tandon.JPG)">
            </div>
            <div class="card__content">
              {% comment %} <p class="card__category">Category</p> {% endcomment %}
              <div class="icons" style="right:-130px">
                <a href="https://www.instagram.com/hasikatandon/" style="color:white;"><i class="fa fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/hasika-tandon-03731b200/" style="color:white;"><i
                    class="fa fa-linkedin"></i></a>
                {% comment %} <a href="https://github.com/kapilgarg2002" style="color:white;"><i class="fa fa-github"></i></a> {% endcomment %}
              </div>
              <h3 class="card__heading">Hasika Tandon</h3>
              <h3 class="card__heading">Convener</h3>
            </div>
          </div>
        </div>
      </div>

          {% comment %} Exbo End {% endcomment %}
      <center><h2 class="oc-title" style="font-size:4rem;margin-bottom:1rem;color:white">Executive Commitee</h2></center>
      <div class="card-section">
        <div class="card-grid">
          <div class="card" style="height:380px;width:268px;">
            <div class="card__background"
              style="background-image: url(https://raw.githubusercontent.com/Avirat201189221/Hackonix-2022/main/Hackonix-Website/static/images/our-team/EC_Gurmehar_Kaul_Sibal.jpeg)">
            </div>
            <div class="card__content">
              {% comment %} <p class="card__category">Category</p> {% endcomment %}
              <div class="icons" style="right:-17px">
                <a href="https://www.instagram.com/gurmehar_sibal/" style="color:white;"><i
                    class="fa fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/gurmehar-kaur-sibal-04092002" style="color:white;"><i
                    class="fa fa-linkedin"></i></a>
                <a href="https://github.com/GKSibal" style="color:white;"><i class="fa fa-github"></i></a>
              </div>
              <h3 class="card__heading">Gurmehar Kaur Sibal</h3>
              <h3 class="card__heading">Public Relations Executive</h3>
            </div>
          </div>

          {% comment %} Card 2 {% endcomment %}

          <div class="card" style="height:380px;width:268px;">
            <div class="card__background"
              style="background-image: url(https://raw.githubusercontent.com/Avirat201189221/Hackonix-2022/main/Hackonix-Website/static/images/our-team/EB_Ansh_Gupta.jpeg);">
            </div>
            <div class="card__content">
              {% comment %} <p class="card__category">Category</p> {% endcomment %}
              <div class="icons" style="right:-53px">
                <a href="https://www.instagram.com/ansh_g23/" style="color:white;"><i
                    class="fa fa-instagram"></i></a>
                <a href="http://linkedin.com/in/ansh-gupta-b9956a208/" style="color:white;"><i
                    class="fa fa-linkedin"></i></a>
                <a href="http://github.com/Ansh231001" style="color:white;"><i class="fa fa-github"></i></a>
              </div>
              <h3 class="card__heading">Ansh Gupta </h3>
              <h3 class="card__heading">Management Executive</h3>
            </div>
          </div>

          {% comment %} Card 3 {% endcomment %}
          <div class="card" style="height:380px;width:268px;">
            <div class="card__background"
              style="background-image: url(https://raw.githubusercontent.com/Avirat201189221/Hackonix-2022/main/Hackonix-Website/static/images/our-team/EC_Anshika_Jain.jpg)">
            </div>
            <div class="card__content">
              {% comment %} <p class="card__category">Category</p> {% endcomment %}
              <div class="icons" style="right:-77px">
                <a href="https://www.instagram.com/anshikajain204/" style="color:white;"><i
                    class="fa fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/anshika-jain-6a44581bb/" style="color:white;"><i
                    class="fa fa-linkedin"></i></a>
                <a href="https://github.com/AnshikaJain2405" style="color:white;"><i class="fa fa-github"></i></a>
              </div>
              <h3 class="card__heading">Anshika Jain</h3>
              <h3 class="card__heading">Documentation Head</h3>
            </div>
          </div>

          {% comment %} Card 4 {% endcomment %}
          <div class="card" style="height:380px;width:268px;">
            <div class="card__background"
              style="background-image: url(https://raw.githubusercontent.com/Avirat201189221/Hackonix-2022/main/Hackonix-Website/static/images/our-team/EC_Riddhi_Aggrawal.jpeg)">
            </div>
            <div class="card__content">
              {% comment %} <p class="card__category">Category</p> {% endcomment %}
              <div class="icons" style="right:-76px">
                <a href="https://www.instagram.com/ridhhi0794/" style="color:white;"><i class="fa fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/ridhhi-aggarwal-07932a208" style="color:white;"><i
                    class="fa fa-linkedin"></i></a>
                <a href="https://github.com/ridhhi794" style="color:white;"><i class="fa fa-github"></i></a>
              </div>
              <h3 class="card__heading">Ridhhi Aggarwal</h3>
              <h3 class="card__heading">Marketing Executive</h3>
            </div>
          </div>

          {% comment %} Card 5 {% endcomment %}
          <div class="card" style="height:380px;width:268px;">
            <div class="card__background"
              style="background-image: url(https://raw.githubusercontent.com/Avirat201189221/Hackonix-2022/main/Hackonix-Website/static/images/our-team/EC_Subhav_Batra.jpg)">
            </div>
            <div class="card__content">
              {% comment %} <p class="card__category">Category</p> {% endcomment %}
              <div class="icons" style="right:-127px">
                <a href="https://www.instagram.com/subhavbatra/" style="color:white;"><i
                    class="fa fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/subhav-batra-0269341a4/" style="color:white;"><i
                    class="fa fa-linkedin"></i></a>
                <a href="https://github.com/SubhavBatra" style="color:white;"><i class="fa fa-github"></i></a>
              </div>
              <h3 class="card__heading">Subhav Batra</h3>
              <h3 class="card__heading">Logistics Head</h3>
            </div>
          </div>

          <div class="card" style="height:380px;width:268px;">
            <div class="card__background"
              style="background-image: url(https://raw.githubusercontent.com/Avirat201189221/Hackonix-2022/main/Hackonix-Website/static/images/our-team/EC_Apoorv_Saxena.jpeg)">
            </div>
            <div class="card__content">
              {% comment %} <p class="card__category">Category</p> {% endcomment %}
              <div class="icons" style="right:-127px">
                <a href="https://www.instagram.com/apoorv7502/" style="color:white;"><i class="fa fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/apoorv-saxena-6a4258200/" style="color:white;"><i
                    class="fa fa-linkedin"></i></a>
                <a href="https://github.com/Apoorv-Saxena" style="color:white;"><i class="fa fa-github"></i></a>
              </div>
              <h3 class="card__heading">Apoorv Saxena</h3>
              <h3 class="card__heading">Externals Head</h3>
            </div>
          </div>

          {% comment %} Card 6 {% endcomment %}
          <div class="card" style="height:380px;width:268px;">
            <div class="card__background"
              style="background-image: url(https://raw.githubusercontent.com/Avirat201189221/Hackonix-2022/main/Hackonix-Website/static/images/our-team/EC_Mukul_Singhal.jpg)">
            </div>
            <div class="card__content">
              {% comment %} <p class="card__category">Category</p> {% endcomment %}
              <div class="icons" style="right:-122px">
                <a href="https://www.instagram.com/mukul_108/" style="color:white;"><i class="fa fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/mukul-singhal-867186212" style="color:white;"><i
                    class="fa fa-linkedin"></i></a>
                <a href="https://github.com/mukulsinghal407" style="color:white;"><i class="fa fa-github"></i></a>
              </div>
              <h3 class="card__heading">Mukul Singhal</h3>
              <h3 class="card__heading">Technical Head</h3>
            </div>

          </div>
        </div>
      </div>

      <center><h2 class="oc-title" style="font-size:4rem;margin-bottom:1rem;color:white">Organizing Commitee</h2></center>
      <div class="card-section">
        <div class="card-grid">
          <div class="card" style="height:380px;width:268px;">
            <div class="card__background"
              style="background-image: url(https://raw.githubusercontent.com/Avirat201189221/Hackonix-2022/main/Hackonix-Website/static/images/our-team/OC_Bhoomika_Vrati.jpeg)">
            </div>
          <div class="card__content">
            <div class="icons" style="right:-41px">
              <a href="https://www.instagram.com/bhoomika_vrati/" style="color:white;"><i
                  class="fa fa-instagram"></i></a>
              <a href="https://www.linkedin.com/in/bhoomika-vrati-b3565622b" style="color:white;"><i
                  class="fa fa-linkedin"></i></a>
              <a href="https://github.com/BhoomikaVrati" style="color:white;"><i class="fa fa-github"></i></a>
            </div>
            <h3 class="card__heading">Bhoomika Vrati</h3>
            <h3 class="card__heading">Overall Event Coordinator</h3>
          </div>
        </div>

        <div class="card" style="height:380px;width:268px;">
          <div class="card__background"
            style="background-image: url(https://raw.githubusercontent.com/Avirat201189221/Colloquium2023/main/static/img/our-team/OC_Tejas_Sood.jpg)">
          </div>
          <div class="card__content">
            <div class="icons">
              <a href="https://www.instagram.com/_tejassood/" style="color: white;"><i
                  class="fa fa-instagram"></i></a>
              <a href="https://www.linkedin.com/in/tejas-sood-ba9ba6219/" style="color: white;"><i
                  class="fa fa-linkedin"></i></a>
              <a href="https://github.com/tejasood" style="color: white;"><i class="fa fa-github"></i></a>
            </div>
            <h3 class="card__heading">Tejas Sood</h3>
            <h3 class="card__heading">Overall Event Coordinator</h3>
          </div>
        </div>


        {% comment %} Card 2 {% endcomment %}
        <div class="card" style="height:380px;width:268px;">
          <div class="card__background"
            style="background-image: url(https://raw.githubusercontent.com/Avirat201189221/Hackonix-2022/main/Hackonix-Website/static/images/our-team/OC_Vedant_Gadodia.jpg)">
          </div>
          <div class="card__content">
            <div class="icons" style="right:-50px;">
              <a href="https://www.instagram.com/vedant.gadodia/" style="color:white;"><i
                  class="fa fa-instagram"></i></a>
              <a href="https://www.linkedin.com/in/vedant-gadodia-77568b229" style="color:white;"><i
                  class="fa fa-linkedin"></i></a>
              <a href="https://github.com/ved-ant" style="color:white;"><i class="fa fa-github"></i></a>
            </div>
            <h3 class="card__heading">Vedant Gadodia</h3>
            <h3 class="card__heading">Event Management Head</h3>
          </div>
        </div>


        {% comment %} Card 5 {% endcomment %}
        <div class="card" style="height:380px;width:268px;">
          <div class="card__background"
            style="background-image: url(https://raw.githubusercontent.com/Avirat201189221/Colloquium2023/main/static/img/our-team/OC_Jigya_Munjal.jpg)">
          </div>
          <div class="card__content">
            <div class="icons" style="right:-41px">
              <a href="https://www.instagram.com/jigya_munjal/" style="color:white;"><i class="fa fa-instagram"></i></a>
              <a href="https://www.linkedin.com/in/jigya-munjal-648115228" style="color:white;"><i
                  class="fa fa-linkedin"></i></a>
              <a href="https://github.com/jigyaa" style="color:white;"><i class="fa fa-github"></i></a>
            </div>
            <h3 class="card__heading">Jigya Munjal</h3>
            <h3 class="card__heading">Event Management Head</h3>
          </div>
        </div>

        {% comment %} Card 7 {% endcomment %}
        <div class="card" style="height:380px;width:268px;">
          <div class="card__background"
            style="background-image: url(https://raw.githubusercontent.com/Avirat201189221/Colloquium2023/main/static/img/our-team/OC_Kushagra_Agarwal.jpg)">
          </div>
          <div class="card__content">
            <div class="icons" style="right:-41px">
              <a href="https://instagram.com/kush_chandra06?igshid=ZDdkNTZiNTM=" style="color:white;"><i
                  class="fa fa-instagram"></i></a>
              <a href="https://www.linkedin.com/in/kushagra-chandra-592033247" style="color:white;"><i
                  class="fa fa-linkedin"></i></a>
              <a href="https://github.com/kushagrachandra06" style="color:white;"><i class="fa fa-github"></i></a>
            </div>
            <h3 class="card__heading">Kushagra Agarwal</h3>
            <h3 class="card__heading">Event Management Head</h3>
          </div>
        </div>

          <div class="card" style="height:380px;width:268px;">
            <div class="card__background"
              style="background-image: url(https://raw.githubusercontent.com/Avirat201189221/Hackonix-2022/main/Hackonix-Website/static/images/our-team/OC_Awantika_Awasthi.jpg)">
            </div>
            <div class="card__content">
              <div class="icons" style="right:-97px">
                <a href="https://www.instagram.com/awantika165/" style="color: white;"><i
                    class="fa fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/awantika-awasthi-57a73b228" style="color: white;"><i
                    class="fa fa-linkedin"></i></a>
                <a href="https://github.com/awantika165" style="color: white;"><i class="fa fa-github"></i></a>
              </div>
              <h3 class="card__heading">Awantika Awasthi</h3>
              <h3 class="card__heading">Logistics Head</h3>
            </div>
          </div>

          {% comment %} Card 2 {% endcomment %}
          <div class="card" style="height:380px;width:268px;">
            <div class="card__background"
              style="background-image: url(https://raw.githubusercontent.com/Avirat201189221/Hackonix-2022/main/Hackonix-Website/static/images/our-team/OC_Pranav_Modgil.jpeg)">
            </div>
            <div class="card__content">
              <div class="icons"  style="right:-97px">
                <a href="https://www.instagram.com/slygoross/" style="color:white;"><i class="fa fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/pranav-modgil-15535b99/" style="color:white;"><i
                    class="fa fa-linkedin"></i></a>
                <a href="https://github.com/Slygoross" style="color:white;"><i class="fa fa-github"></i></a>
              </div>
              <h3 class="card__heading">Pranav Modgil</h3>
              <h3 class="card__heading">Logistics Head</h3>
            </div>
          </div>

          {% comment %} Card 3 {% endcomment %}
          <div class="card" style="height:380px;width:268px;">
            <div class="card__background"
              style="background-image: url(https://raw.githubusercontent.com/Avirat201189221/Hackonix-2022/main/Hackonix-Website/static/images/our-team/OC_Sanyam_Gupta.jpeg)">
            </div>
            <div class="card__content">
              <div class="icons" style="right:-126px">
                <a href="https://www.instagram.com/sam_gupta2003/" style="color:white;"><i
                    class="fa fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/sanyam-gupta-973584222" style="color:white;"><i
                    class="fa fa-linkedin"></i></a>
                <a href="https://github.com/SANYAM1612" style="color:white;"><i class="fa fa-github"></i></a>
              </div>
              <h3 class="card__heading">Sanyam Gupta</h3>
              <h3 class="card__heading">Publicity Head</h3>
            </div>
          </div>

          {% comment %} Card 4 {% endcomment %}
          <div class="card" style="height:380px;width:268px;">
            <div class="card__background"
              style="background-image: url(https://raw.githubusercontent.com/Avirat201189221/Hackonix-2022/main/Hackonix-Website/static/images/our-team/OC_Diya_Gangwar.jpg)">
            </div>
            <div class="card__content">
              <div class="icons" style="right:-124px">
                <a href="https://www.instagram.com/diagangwar/" style="color:white;"><i class="fa fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/diya-gangwar-921a36237/" style="color:white;"><i
                    class="fa fa-linkedin"></i></a>
                <a href="https://github.com/diya040" style="color:white;"><i class="fa fa-github"></i></a>
              </div>
              <h3 class="card__heading">Diya Gangwar</h3>
              <h3 class="card__heading">Publicity Head</h3>
            </div>
          </div>

                    {% comment %} Card 14 {% endcomment %}
          <div class="card" style="height:380px;width:268px;">
            <div class="card__background"
              style="background-image: url(https://raw.githubusercontent.com/Avirat201189221/Hackonix-2022/main/Hackonix-Website/static/images/our-team/OC_Sunali.jpg)">
            </div>
            <div class="card__content">
              <div class="icons" style="right:-118px;">
                <a href="https://www.instagram.com/sunali_sharma_22/" style="color:white;"><i
                    class="fa fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/sunali-sharma-4bb396227" style="color:white;"><i
                    class="fa fa-linkedin"></i></a>
                <a href="https://www.github.com/Dj_2801" style="color:white;"><i class="fa fa-github"></i></a>
              </div>
              <h3 class="card__heading">Sunali Sharma</h3>
              <h3 class="card__heading">Publicity Head</h3>
            </div>
          </div> 

          {% comment %} Card 5 {% endcomment %}
          <div class="card" style="height:380px;width:268px;">
            <div class="card__background"
              style="background-image: url(https://raw.githubusercontent.com/Avirat201189221/Hackonix-2022/main/Hackonix-Website/static/images/our-team/OC_Tanmay_Deshkar.jpg)">
            </div>
            <div class="card__content">
              <div class="icons" style="right:-41px">
                <a href="https://www.instagram.com/tanmay.exe/" style="color:white;"><i class="fa fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/tanmay-deshkar-0366ab22a" style="color:white;"><i
                    class="fa fa-linkedin"></i></a>
                <a href="https://github.com/Fluorospek" style="color:white;"><i class="fa fa-github"></i></a>
              </div>
              <h3 class="card__heading">Tanmay Deshkar</h3>
              <h3 class="card__heading">Marketing Head</h3>
            </div>
          </div>


          <div class="card" style="height:380px;width:268px;">
            <div class="card__background"
              style="background-image: url(https://raw.githubusercontent.com/Avirat201189221/Colloquium2023/main/static/img/our-team/OC_Kinshuk_Kathpal.jpg)">
            </div>
            <div class="card__content">
              <div class="icons" style="right:-109px">
                <a href="https://www.instagram.com/kinshuk_k/" style="color:white;"><i class="fa fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/kinshuk-kathpal" style="color:white;"><i
                    class="fa fa-linkedin"></i></a>
                <a href="https://github.com/kinshuk003" style="color:white;"><i class="fa fa-github"></i></a>
              </div>
              <h3 class="card__heading">Kinshuk Kathpal</h3>
              <h3 class="card__heading">Marketing Head</h3>
            </div>
          </div>
          
          {% comment %} Card 6 {% endcomment %}


          {% comment %} Card 7 {% endcomment %}
          <div class="card" style="height:380px;width:268px;">
            <div class="card__background"
              style="background-image: url(https://raw.githubusercontent.com/Avirat201189221/Hackonix-2022/main/Hackonix-Website/static/images/our-team/OC_Hardik_Jain.jpg)">
            </div>
            <div class="card__content">
              <div class="icons" style="right:-41px">
                <a href="https://www.instagram.com/hardikjain1402/?hl=en" style="color:white;"><i
                    class="fa fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/hardik-jain-53007b21b" style="color:white;"><i
                    class="fa fa-linkedin"></i></a>
                <a href="https://github.com/Hardik14Jain" style="color:white;"><i class="fa fa-github"></i></a>
              </div>
              <h3 class="card__heading">Hardik Jain</h3>
              <h3 class="card__heading">Content Head</h3>
            </div>
          </div>

          <div class="card" style="height:380px;width:268px;">
            <div class="card__background"
              style="background-image: url(https://raw.githubusercontent.com/Avirat201189221/Colloquium2023/main/static/img/our-team/OC_Sidhanbir_Singh.jpg)">
            </div>
            <div class="card__content">
              <div class="icons" style="right:-108px">
                <a href="https://instagram.com/sidhanbir?igshid=YmMyMTA2M2Y=" style="color:white;"><i
                    class="fa fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/sidhanbir-singh-093ba7228/" style="color:white;"><i
                    class="fa fa-linkedin"></i></a>
                <a href="https://github.com/samuraeye007" style="color:white;"><i class="fa fa-github"></i></a>
              </div>
              <h3 class="card__heading">Sidhanbir Singh</h3>
              <h3 class="card__heading">Content Head</h3>
            </div>
          </div>

        

          {% comment %} Card 9 {% endcomment %}

          {% comment %} Card 10 {% endcomment %}
           <div class="card" style="height:380px;width:268px;">
            <div class="card__background"
              style="background-image: url(https://raw.githubusercontent.com/Avirat201189221/Hackonix-2022/main/Hackonix-Website/static/images/our-team/OC_Nehchal_Kaur.jpg)">
            </div>
            <div class="card__content">
              <div class="icons" style="right:-142px">
                <a href="https://www.instagram.com/nehchal_k/" style="color:white;"><i class="fa fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/nehchal-kaur-272367246" style="color:white;"><i
                    class="fa fa-linkedin"></i></a>
                <a href="https://github.com/NehchalKaur" style="color:white;"><i class="fa fa-github"></i></a>
              </div>
              <h3 class="card__heading">Nehchal Kaur</h3>
              <h3 class="card__heading">Creativity Head</h3>
            </div>
          </div>

          <div class="card" style="height:380px;width:268px;">
            <div class="card__background"
              style="background-image: url(https://raw.githubusercontent.com/Avirat201189221/Colloquium2023/main/static/img/our-team/OC_Veni_Tiwari.jpg)">
            </div>
            <div class="card__content">
              <div class="icons" style="right:-142px">
                <a href="https://www.instagram.com/nehchal_k/" style="color:white;"><i class="fa fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/nehchal-kaur-272367246" style="color:white;"><i
                    class="fa fa-linkedin"></i></a>
                <a href="https://github.com/NehchalKaur" style="color:white;"><i class="fa fa-github"></i></a>
              </div>
              <h3 class="card__heading">Veni Tiwari </h3>
              <h3 class="card__heading">Creativity Head</h3>
            </div>
          </div>


          {% comment %} Card 12 {% endcomment %}          

          {% comment %} Card 13 {% endcomment %}
          <div class="card" style="height:380px;width:268px;">
            <div class="card__background"
              style="background-image: url(https://raw.githubusercontent.com/Avirat201189221/Hackonix-2022/main/Hackonix-Website/static/images/our-team/OC_Akriti_Rai.jpg)">
            </div>
            <div class="card__content">
              <div class="icons" style="right:-120px">
                <a href="https://www.instagram.com/akritissbored/" style="color:white;"><i
                    class="fa fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/akriti-rai-51746722b" style="color:white;"><i
                    class="fa fa-linkedin"></i></a>
                <a href="https://github.com/iakriti" style="color:white;"><i class="fa fa-github"></i></a>
              </div>
              <h3 class="card__heading">Akriti Rai</h3>
              <h3 class="card__heading">Desgining Head</h3>
            </div>
          </div>

          <div class="card" style="height:380px;width:268px;">
            <div class="card__background"
              style="background-image: url(https://raw.githubusercontent.com/Avirat201189221/Colloquium2023/main/static/img/our-team/OC_Kinshuk_Kathpal.jpg)">
            </div>
            <div class="card__content">
              <div class="icons" style="right:-109px">
                <a href="https://www.instagram.com/kinshuk_k/" style="color:white;"><i class="fa fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/kinshuk-kathpal" style="color:white;"><i
                    class="fa fa-linkedin"></i></a>
                <a href="https://github.com/kinshuk003" style="color:white;"><i class="fa fa-github"></i></a>
              </div>
              <h3 class="card__heading">Kinshuk Kathpal</h3>
              <h3 class="card__heading">Desgining Head</h3>
            </div>
          </div>

          <div class="card" style="height:380px;width:268px;">
            <div class="card__background"
              style="background-image: url(https://raw.githubusercontent.com/Avirat201189221/Colloquium2023/main/static/img/our-team/OC_Saumay_Ahuja.jpg)">
            </div>
            <div class="card__content">
              <div class="icons" style="right:-109px">
                <a href="https://www.instagram.com/kinshuk_k/" style="color:white;"><i class="fa fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/kinshuk-kathpal" style="color:white;"><i
                    class="fa fa-linkedin"></i></a>
                <a href="https://github.com/kinshuk003" style="color:white;"><i class="fa fa-github"></i></a>
              </div>
              <h3 class="card__heading">Saumay Ahuja</h3>
              <h3 class="card__heading">Desgining Head</h3>
            </div>
          </div>

          {% comment %} Card 15 {% endcomment %}

           <div class="card" style="height:380px;width:268px;">
            <div class="card__background"
              style="background-image: url(https://raw.githubusercontent.com/Avirat201189221/Colloquium2023/main/static/img/our-team/OC_Shatakshi_Saxena.jpg)">
            </div>
            <div class="card__content">
              <div class="icons" style="right:-104px">
                {% comment %} <a href="https://www.instagram.com/psgill_03" style="color:white;"><i class="fa fa-instagram"></i></a> {% endcomment %}
                <a href="https://www.linkedin.com/in/shatakshi-saxena-a3863a221/" style="color:white;"><i
                    class="fa fa-linkedin"></i></a>
                <a href="https://github.com/Shatakshi127" style="color:white;"><i class="fa fa-github"></i></a>
              </div>
              <h3 class="card__heading">Shatakshi Saxena</h3>
              <h3 class="card__heading">Technical Head</h3>
            </div>
          </div> 

          <div class="card" style="height:380px;width:268px;">
            <div class="card__background"
              style="background-image: url(https://raw.githubusercontent.com/Avirat201189221/Hackonix-2022/main/Hackonix-Website/static/images/our-team/OC_Avirat_Sharma.jpg)">
            </div>
            <div class="card__content">
              <div class="icons" style="right:-122px">
                <a href="https://www.instagram.com/avi.0603/" style="color:white;"><i class="fa fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/avirat-sharma-685133229/" style="color:white;"><i
                    class="fa fa-linkedin"></i></a>
                <a href="https://github.com/Avirat201189221" style="color:white;"><i class="fa fa-github"></i></a>
              </div>
              <h3 class="card__heading">Avirat Sharma</h3>
              <h3 class="card__heading">Technical Head</h3>
            </div>
          </div>
        </div>
      </div>

        </div>
      </div>
    </section>

    <section id="mu-ec" style="padding: 10rem 0rem;padding-top:0px;">
      {% comment %} <center>
        <h2 class="oc-title" style="font-size:6rem;">Executive Commitee</h2>
      </center> {% endcomment %}
      {% comment %} Card 1 {% endcomment %}
      <div class="card-section">
        <div class="card-grid">

        </div>
      </div>
    </section>


        </div>
      </div>
    </section>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
  </div>
  </body>
</html>
